/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 295px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  padding-top:5px ;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{

  font-size: 30px;
  color: #fff;
  height: 60px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
}

.sidebar .img{
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #ffffff;
  height: 100%;
  left: 295px;
  width: calc(100% - 295px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content{
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
}

.home-section .titulo{
   
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: red;
    padding-bottom: 20px;
    
}
.sidebar.close ~ .home-section .titulo h1::before{
    left: 340px;
  }
.sidebar.close ~ .home-section .titulo h1::after{
    right: 340px;
  }

h1::after, h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color:currentColor;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.3s ease-in;

}
h1:hover::after, h1:hover::before{

    transform: scale(1);

}

h1::before{
    left: 230px;
}
h1::after{
    right: 230px;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1rem;
}

.gallery_item{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 1;
    height: 180px;
    transition: 0.5s filter;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(220, 230, 236, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s ease;
}

.overlay h2{
    color: black;
    font-weight: 500;
    font-size:15px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.gallery_item:hover .overlay{
    height:70%;
    cursor: pointer;
}

.gallery_item:hover{
    filter:brightness(.8)
}
.gallery_item:first-of-type{
    grid-column: 1 / span 1;

}





@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 505px) and (max-width: 685px ){
    .gallery_item:nth-of-type(odd){
        grid-column: 1/ span 1;
    }
}

@media screen and (min-width: 686px) and (max-width: 862px ){
    .gallery_item:nth-of-type(3n + 1){
        grid-column: 1/ span 1;
    }

}

@media screen and (min-width: 863px) and (max-width: 1038px ){
    
    .gallery_item:nth-of-type(4n + 1){
        grid-column: 1/ span 1;
    }
}

@media screen and (min-width: 1039px) and (max-width: 1215px ){
    .gallery_item:nth-of-type(5n + 1){
        grid-column: 1/ span 1;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1391px ){
    .gallery_item:nth-of-type(6n + 1){
        grid-column: 1/ span 1;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1391px ){
    .gallery_item:nth-of-type(6n + 1){
        grid-column: 1/ span 1;
    }
}
@media screen and (min-width: 1392px) {
    .gallery_item:nth-of-type(7n + 1){
        grid-column: 1/ span 1;
    }
}







